---
import ProjectCard from './ProjectCard.astro';
import type { Project } from '../types/project';
import { PROJECTS } from '../types/project';

const featuredProjects = PROJECTS.filter(project => project.featured);
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 w-full">
    {featuredProjects.map((project: Project) => (
        <ProjectCard project={project} />
    ))}
</div>
